
@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular JS app</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body ng-app="MyApp">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Application name</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#!/home">Home</a></li>
                    <li><a href="#!/authenticated">Authenticated</a></li>
                    <li><a href="#!/authorized">Authorized</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top:40px;">
        <data-ng-view></data-ng-view>
        <hr />
        <footer>
            <p>&copy; Dotnet awesome</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/MyApp/App17.js"></script>
</body>
</html>