
@{
    ViewBag.Title = "Part6";
}

<h2>Simple Registration Form</h2>

<div ng-controller="Part6">
    <form novalidate name="f1" ng-submit="SaveData(User)">
        <div style="color:red;">{{Message}}</div>
        <table>

            <tr>
                <td>Full Name : </td>
                <td>
                    <input type="text" ng-model="User.FullName" name="uFullName" ng-class="submitted?'ng-dirty':''" required autofocus />
                    <span class="error" ng-show="(f1.uFullName.$dirty || submitted) && f1.uFullName.$error.required">Full Name is required!</span>
                </td>
            </tr>

            <tr>
                <td>Email ID : </td>
                <td>
                    <input type="email" ng-model="User.EmailID" name="uEmailID" ng-class="submitted?'ng-dirty':''" />
                    <span class="error" ng-show="(f1.uEmailID.$dirty || submitted) && f1.uEmailID.$error.email">Email ID is not valid!</span>
                </td>
            </tr>

            <tr>
                <td>User Name : </td>
                <td>
                    <input type="text" ng-model="User.UserName" name="uUserName" ng-class="submitted?'ng-dirty':''" required />
                    <span class="error" ng-show="(f1.uUserName.$dirty || submitted) && f1.uUserName.$error.required">User Name is required!</span>
                </td>
            </tr>

            <tr>
                <td>Password : </td>
                <td>
                    <input type="password" ng-model="User.Password" name="uPassword" ng-class="submitted?'ng-dirty':''" required />
                    <span class="error" ng-show="(f1.uPassword.$dirty || submitted) && f1.uPassword.$error.required">Password is required!</span>
                </td>
            </tr>

            <tr>
                <td>Gender : </td>
                <td>
                    <input type="radio" ng-model="User.Gender" name="uGender" value="Male"  required />Male
                    <input type="radio" ng-model="User.Gender" name="uGender" value="Female" required />Female
                    <span class="error" ng-show="(f1.uGender.$dirty || submitted) && f1.uGender.$error.required">Gender is required!</span>
                </td>
            </tr>
            
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="{{SubmitText}}" />
                </td>
            </tr>

        </table>
    </form>
</div>

@section scripts {
    <script src="~/Scripts/MyApp/Part6.js"></script>
}
